[Unit]
Description=Home Assistant
After=network.target mosquitto.service

[Service]
Type=simple
User=root
WorkingDirectory=/var/lib/homeassistant
EnvironmentFile=/var/lib/homeassistant/.homeassistant/ha.bash
ExecStart=/var/lib/homeassistant/bin/hass -c "/var/lib/homeassistant/.homeassistant"

[Install]
WantedBy=multi-user.target
